<h2>Inicio</h2>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {{#each articulos}}
        <div class="col">
            <div class="card">
                 <div class="card-body">
                    {{#if sale}}
                        <h5 class="card-title">{{ name }}</h5>
                        <p class="card-text">{{ price }} (OFERTA)</p>
                    {{else}}
                        <h5 class="card-title">{{ name }}</h5>
                        <p class="card-text">{{ price }}</p>
                    {{/if}}
                 </div>
            </div>
        </div>
    {{/each}}
</div>

{{#unless articulos}}
    <div class="alert alert-danger" role="alert">
        No hay articulos disponibles
    </div>
{{/unless}}

